@font-face {
    font-family: 'PixelGame';
    src: url(../PixelGame-R9AZe.otf) format('opentype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    padding: 0 !important;
}

.navbar-toggler, .navbar-collapse {
    display: none;
}

.navbar-container{
    height: 8rem;
}
.title {
    font-family: 'PixelGame';
    font-size: clamp(1rem, 8vw, 10rem);    
    font-weight: 600;
}

.title:hover {
    font-size: clamp(1.5rem, 9vw, 11rem);
    cursor: pointer;
}

